.container {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.form__avtar {
  align-self: center !important;
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.801),
    rgba(40, 181, 131, 0.8)
  );
}

.hedaerText {
  margin-top: 20px;
  text-transform: capitalize;
  font-weight: 400;
}

.form__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form__input {
  width: 30%;
}

.form__button {
  margin-top: 30px !important;
  width: 30%;
}
